.right-bottom-container {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  overflow-x: hidden;
}

@media (min-aspect-ratio: 1/1) {
  .right-bottom-container {
    width: 100%;
  }
}

/* 消息列表容器 ，需要留出底部输入框的高度*/
/* Container for messages, need to leave space for input box at bottom */
.message-wrapper {
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 60px;
  width: 100%;
  height: calc(100% - 40px);
}

.sendComment {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  text-align: left;
}

div {
  box-sizing: border-box;
  scrollbar-width: none !important;
}

@media screen and (orientation: landscape) and (max-height: 300px) {
  .coverBottom {
    display: none;
  }
}
